@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PWSIiP</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to PWSIiP Management System</h2>
        <p>
            "Państwowa Wyższa Szkoła Informatyki i Przedsiębiorczości w Łomży kształci praktyków,
            współpracuje z samorządami i kadrą kierowniczą przedsiębiorstw. 
            Uczelnia została powołana 22 czerwca 2004 roku. 
            W rozporządzeniu Rady Ministrów podpisanym przez premiera Marka Belkę została określona Misja Uczelni – "tworzenie małych i średnich przedsiębiorstw". 
            W 2012 roku Senat Uczelni sformułował ja na nowo – "Kształcimy Praktyków". 
            Nie oznacza to jednak wąskiej orientacji intelektualnej. 
            Placówka podejmuje szereg inicjatyw z zakresu propagowania myśli humanistycznej. 
            Jedną z nich jest Uniwersytet Otwarty. 
            To semestralne cykle wykładów wybitnych humanistów, w których mogą uczestniczyć żacy, mieszkańcy miasta i regionu."
        </p>
    </div>
    <div class="col-md-4">
        <h2>PWSIiP</h2>
        <p> Państwowa Wyższa Szkoła Informatyki i Przedsiębiorczości w Łomży</p>
        <p><a class="btn btn-default" href="https://pwsip.edu.pl/">See the website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p>Visit the Facebook page.</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/pwsip/">PWSIiP - Facebook &raquo;</a></p>
    </div>
</div>